@model Belt_exam.Models.User
<h1>Register to this cool site!</h1>
<a href="/login">Login</a>

<div class="form">
    <form action="process" method ="POST">
        <div class="row">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName">
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="row">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName">
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
        <div class="row">
            <label asp-for="Email">Email</label>
            <input asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="row">
            <label asp-for="Password">Password</label>
            <input asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="row">
            <label asp-for="Confirm">Confirm Password:</label>
            <input asp-for="Confirm">
            <span class="text-danger" asp-validation-for="@Model.Confirm"></span>
        </div>
        <button class="btn btn-primary">Sign Up Now!</button>
    </form>
</div>